/* CSSメモ */

/* HTMLの  どこの(要素名=セレクタ)  何を(変更項目=プロパティ)  どうする  を指定 */
/* インデントして書く、プロパティの末尾に:(コロン)、行末に;(セミコロン)をつける */
/* 複数のセレクタを、(コンマ)で区切ることで複数指定できる */
/* コメントアウト コードに影響しないコメントをかける */

/* 文例 */
h1 {  /* htmlで使用しているセレクタ */
  color: #ff0000;  /* インデントし、プロパティ: 指定内容; */
}

/* 単位 */
    /* 絶対的な単位 */
        /* mm ミリメートル */
        /* cm センチメートル */
        /* in インチ */
        /* px ピクセル 1ピクセル=1/96インチ */
        /* pt ポイント 1ポイント=1/72インチ */
        /* pc パイカ 1パイカ=12ポイント */

    /* 相対的な単位 */
        /* em   その範囲で有効なフォントサイズを1とする */
        /* rem  html要素のフォントサイズを1とする単位 */
        /* ex   その範囲で有効なフォントの小文字の「x」の高さを1とする */
        /* vw   ビューポートの幅の1％を1とする */
        /* vh   ビューポートの高さの1％を1とする */
        /* vmin ビューポートの幅か高さの短い方の1％を1とする */
        /* vmax ビューポートの幅か高さの長い方の1％を1とする */
        /* %    他の基準となる大きさに対する割合 */

/* 色指定 */
    /* 主要な色は英語で指定出来る */
    /* 16進数カラーコード */
        /* #RRGGBBで表記 */
        /* #RGBで表記できることもある */
    /* 10進数RGB(+透明度a) */
        /* rgb(R,G,B,a) */
        /* 透明度aは透明0～1不透明 */
    /* %RGB */
        /* rgb(R%,G%,B%) */
        /* 0～100%で指定、透明度は無し */
    /* 色相・彩度・明度(+透明度) */
        /* hsl(H,S%,L%) */
        /* Hue(色相) 色相環での角度 */
        /* Saturation(彩度) % */
        /* Lightness(明度) % */

/* プロパティ一覧 */

    a {display: flex;} /*  */

    a {color: #000000;} /* 色の指定 */
    a {background-color: #000000;} /* 背景色の指定 */

    a {font-family: serif;} /* フォントの種類指定 */
        /*フォント名にスペースがある場合は""で囲む */
    
    a {font-size: 12px;} /* フォントサイズの指定 */
    a {width: 10px;} /* 横幅の指定 */
    a {height: 10px;} /* 高さの指定 */
        /*px(ピクセル)単位で指定 */

    a {float: left;} /* 要素が横並びに leftで左からrightで右から */

    a {border: 10px;} /* 上下左右に枠線の追加 */
        /* -top -bottom -left -right 指定方向に追加 */
        /* border:△px solid red で太さ、線種、色の順で指定 */

    a {padding: 10px;} /* 文字の周り・枠線の内側の上下左右に余白を追加 */
        /* padding-方向で指定方向に追加 */
        /* padding:△px △px △px △px で上右下左の順に適用 */
        /* padding:△px △px で上下 左右の順に適応 */

    a {margin: 10px;} /* 枠線の外側の上下左右に余白を追加 */
        /* margin-方向で指定方向に追加 */
        /* margin:△px △px △px △px で上右下左の順に適用 */
        /* margin:△px △px で上下 左右の順に適応 */

    a {white-space: normal;} /* 要素内のホワイトスペースの扱い */

    a {overflow: visible;} /* 内容があふれた時の動作 */
    a {text-overflow: clip;} /* あふれたテキストの非表示の方法 */